In [1]:
import pandas as pd

In [69]:
data1 = pd.read_csv("cptp-eye-5-EAFchip2.out", sep = ' ', names =["rsid", "EAF-cptp"], header = 0)
data2 = pd.read_csv("gsa5300-eye-5-EAFchip2.out", sep = ' ', names =["rsid", "EAF-gsa5300"], header = 0)

In [70]:
data2.head()

         rsid  EAF-gsa5300
0   rs3131972     0.834846
1   rs3115860     0.872777
2   rs2073813     0.125340
3  rs12184312     0.041243
4  rs12184325     0.041583

In [71]:
all = pd.merge(data1, data2, how = 'inner', on=['rsid'])
del data1
del data2

In [72]:
#data1 = pd.read_csv("gsa4224-hair-3-EAFchip2.out", sep = ' ', names =["rsid", "EAF-gsa4224"], header = 0)
#all = pd.merge(all, data1, how = 'inner', on=['rsid'])
#data1 = pd.read_csv("gsa760-hair-3-EAFchip2.out", sep = ' ', names =["rsid", "EAF-gsa760"], header = 0)
#all = pd.merge(all, data1, how = 'inner', on=['rsid'])
#data1 = pd.read_csv("omni-hair-3-EAFchip2.out", sep = ' ', names =["rsid", "EAF-omni"], header = 0)
#all = pd.merge(all, data1, how = 'inner', on=['rsid'])

#del data1

#all['eaf'] = (all['EAF-cptp']*0.362 + all['EAF-gsa5300']*0.363 + all['EAF-gsa4224']*0.200 + all['EAF-gsa760']*0.034 + all['EAF-omni']*0.041)
#all['eaf'] = (all['EAF-cptp']*0.397 + all['EAF-gsa5300']*0.389 + all['EAF-gsa4224']*0.214)
all['eaf'] = (all['EAF-cptp']*0.552 + all['EAF-gsa5300']*0.448)

all.tail()

                rsid  EAF-cptp  EAF-gsa5300       eaf
7129636    rs2519461  0.071029     0.073888  0.072310
7129637  rs147475742  0.040790     0.034392  0.037924
7129638  rs369304721  0.047243     0.048457  0.047787
7129639  rs114553188  0.059835     0.052201  0.056415
7129640  rs375798137  0.059651     0.052087  0.056262

In [73]:
meta = pd.read_csv("eye_m5_cojo_new.txt", sep = ' ')
meta.columns = ['rsid','A2','A1','EAF-avg','beta','SE','Pvalue','N']
meta.tail()

                rsid A2 A1   EAF-avg    beta      SE    Pvalue     N
7129631    rs2519461  C  G  0.072459  0.0085  0.1160  0.941616  2452
7129632  rs147475742  A  G  0.037591 -0.0401  0.1630  0.805782  2452
7129633  rs369304721  A  G  0.047850  0.1119  0.1506  0.457295  2452
7129634  rs114553188  T  G  0.056018 -0.0847  0.1329  0.523777  2452
7129635  rs375798137  A  G  0.055869 -0.0928  0.1331  0.485645  2452

In [74]:
meta_fin = pd.merge(meta, all, how = 'left', on=['rsid'])
meta_fin = meta_fin.round({"beta":4, "SE":4}) 
meta_fin.tail()

,rsid,A2,A1,EAF-avg,beta,SE,Pvalue,N,EAF-cptp,EAF-gsa5300,eaf
7133649,rs2519461,C,G,0.072459,0.0085,0.1160,0.941616,2452,0.071029,0.073888,0.072310
7133650,rs147475742,A,G,0.037591,-0.0401,0.1630,0.805782,2452,0.040790,0.034392,0.037924
7133651,rs369304721,A,G,0.047850,0.1119,0.1506,0.457295,2452,0.047243,0.048457,0.047787
7133652,rs114553188,T,G,0.056018,-0.0847,0.1329,0.523777,2452,0.059835,0.052201,0.056415
7133653,rs375798137,A,G,0.055869,-0.0928,0.1331,0.485645,2452,0.059651,0.052087,0.056262

In [75]:
cols = meta_fin.columns.tolist()
cols

['rsid',
 'A2',
 'A1',
 'EAF-avg',
 'beta',
 'SE',
 'Pvalue',
 'N',
 'EAF-cptp',
 'EAF-gsa5300',
 'eaf']

In [76]:
meta_fin2=meta_fin.iloc[: , [0, 1, 2, 10, 4, 5, 6, 7]]
meta_fin2.columns = ['rsid','A2','A1','EAF-wavg','beta','SE','Pvalue','N']
meta_fin2.head()

         rsid A2 A1  EAF-wavg    beta      SE    Pvalue     N
0   rs3115860  A  C  0.862132  0.0975  0.0855  0.254222  2452
1   rs2073813  A  G  0.136527 -0.0658  0.0859  0.443958  2452
2  rs12184312  T  G  0.040922  0.0483  0.1542  0.754088  2452
3  rs12184325  T  C  0.040953  0.0521  0.1537  0.734638  2452
4   rs3131969  G  A  0.860333  0.0922  0.0852  0.279065  2452

In [77]:
export_csv = meta_fin2.to_csv("eye_m5_cojo_new-v2.txt", index = False, sep = ' ', doublequote = False, na_rep = "NA")